@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

main {
    padding-top: 80px;
    padding-bottom: 200px;
}

section {
    padding-top: 80px;
}

.mosaico img {
    width: fit-content;
    padding: 0;
    padding-right: 50px;
}

.mosaico2 {
    display: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

.titulo {
    font-family: "Open Sans", sans-serif;
    color: rgb(80, 80, 80);
    margin-bottom: 40px;
}

.titulo-clinica {
    position: relative;
    display: inline-block;
    font-size: 42px;
}

.titulo-clinica:after {
    content: '';
    display: block;
    width: 100px;
    /* Comprimento do traço */
    height: 4px;
    /* Espessura do traço */
    background-color: rgb(138, 123, 112);
    /* Cor do traço */
    margin-top: 10px;
    /* Distância abaixo do texto */
}

#agendar {
    color: rgb(223, 214, 207);
    background-color: rgb(138, 123, 112);
}

#agendar:hover {
    color: rgb(223, 214, 207);
    background-color: black;
}

.titulo-espaco {
    position: relative;
}

.titulo-espaco::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: calc(50% - 20px);
    /* Posiciona o traço no centro inicialmente */
    width: 40px;
    /* Define a largura inicial como metade do traço */
    height: 3px;
    background-color: rgb(138, 123, 112);
    transform-origin: center;
    /* Define o ponto de origem da transformação */
    transform: scaleX(0);
    /* Inicia o traço com largura zero */
    transition: transform 2.5s ease;
    /* Adiciona uma transição suave na transformação */
}

.titulo-espaco.fade-in::after {
    transform: scaleX(1);
    /* Aumenta a largura para o tamanho completo do traço */
}

p {
    color: rgb(100, 100, 100);
    font-size: 18px;
    line-height: 1.8em;
    max-width: 700px;
}

.img-card {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.img-card .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1.2s ease;
    z-index: 5;
}

.img-card:hover .overlay-img {
    opacity: 1;
}

.img-card img {
    width: 100%;
    object-fit: cover;
    transition: all 2s ease;
}

.img-card:hover img {
    transform: scale(1.05);
}

@media (max-width: 950px) {
    main {
        margin: 0 40px;
    }

    section {padding-top: 100px;}

    .mosaico img {
        padding: 0;
        display: block;
        margin: auto;
        margin-bottom: 60px;
    }

    .mosaico1 {
        display: none;
    }

    .mosaico2 {
        display: block;
    }

    .info {
        width: 100%;
        max-width: 100% !important;
        flex: none !important;
    }

    .titulo-clinica {
        width: fit-content;
        margin: auto;
        margin-bottom: 80px;
        display: block;
    }

    .titulo-clinica:after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: calc(50% - 30px);
        /* Posiciona o traço no centro inicialmente */
        width: 60px;
        /* Define a largura inicial como metade do traço */
        height: 4px;
        background-color: rgb(138, 123, 112);
        transform-origin: center;
        /* Define o ponto de origem da transformação */
        transform: scaleX(0);
        /* Inicia o traço com largura zero */
        transition: transform 2.5s ease;
        /* Adiciona uma transição suave na transformação */
    }
    
    .titulo-clinica.fade-in::after {
        transform: scaleX(1);
        /* Aumenta a largura para o tamanho completo do traço */
    }

    .d-flex {width: fit-content; margin: auto; margin-top: 70px;}
}

@media (max-width: 500px) {
    .titulo-clinica {
        position: relative;
        display: inline-block;
        font-size: 38px;
    }
    #ambientes p {font-size: 14px;}
}
