@import url('https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@200;400;600;700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,500&family=Cantarell:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {color: inherit;}
button {color: inherit;}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.box-flex-full {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.fade-in-element {
    opacity: 0;
    transition: opacity 2.5s ease-in-out, transform 2.5s ease-in-out;
    transform: translateY(40px);
}

.fade-in {
    opacity: 1 !important;
    transform: translateY(0);
}

.fade-in-slide-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-slide-up.ativo {
    opacity: 1;
    transform: translateY(0);
}

.pelicula-transparente {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

#fundo-loader {
    width: 100%;
    height: 100vh;
    background-color: rgb(223, 214, 207);
    position: fixed;
    top: 0;
    z-index: 9998;
}

#loader {
    width: 300px;
    height: 80px;
    background: rgb(223, 214, 207) url("../img/logo.png") center no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.fade-top,
.fade-bottom {
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 11;
}

.fade-top {
    top: 0;
    background: linear-gradient(to top, transparent, rgb(0, 0, 0));
}

.fade-bottom {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
}

.section-title {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.margin-big {
    margin-bottom: 120px;
}

.divisoria {
    width: 150px;
    margin: auto;
}

.divisoria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-primary {
    margin-top: 40px;
    min-width: 120px;
    height: 50px;
    color: rgb(223, 214, 207);
    background-color: black;
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: all 0.6s ease;
}

.btn-primary:hover {
    color: black;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.btn-2 {
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    background-color: rgb(223, 214, 207);
    transition: background-color 0.6s ease;
    margin-right: 20px;
    border: none !important;
    outline: none !important;
    font-size: 18px;
}

.btn-2:hover {
    color: rgb(223, 214, 207);
    background-color: black;
}

.video-player {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9998;
}

.video-player video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    z-index: 9999;
}

.close-btn svg {
    fill: rgb(223, 214, 207);
    /* Cor do ícone (pode ser ajustada) */
}

.ver-mais {
    padding: 10px;
    height: fit-content;
    position: absolute;
    right: 0;
    bottom: -40px;
}

.ver-mais a {
    text-decoration: none;
    position: relative;
    color: black;
    padding-bottom: 8px;
}

.ver-mais a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: black;
    transition: width 0.5s ease;
}

.ver-mais a:hover::before {
    width: 100%;
    /* Largura que a linha se estenderá */
}

header {
    display: flex !important;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(223, 214, 207);
    z-index: 9997;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    transition: background-color 0.8s ease, color 0.8s ease;
}

.header-fixed {
    position: fixed;
}

header.transparente {
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

header.transparente .agendar-consulta {
    color: rgb(223, 214, 207) !important;
}

header.transparente .agendar-consulta::before {
    background-color: rgb(223, 214, 207) !important;
}

header.transparente .toggle-menu {
    color: rgb(223, 214, 207) !important;
}

header.hovered {
    background: none;
    background-color: rgb(223, 214, 207);
}

header.hovered .agendar-consulta {
    color: black !important;
}

header.hovered .agendar-consulta::before {
    background-color: black !important;
}

header.hovered .toggle-menu {
    color: black !important;
}

header.transparente .logo {
    opacity: 0;
}

header.hovered .logo {
    opacity: 1;
}

header.transparente .logodourada {
    opacity: 1;
}

header.hovered .logodourada {
    opacity: 0;
}

.header-container {
    margin: 0px 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.agendar-consulta {
    font-size: 19px;
    color: black !important;
    position: relative;
    text-decoration: none !important;
    transform: scale(0.9);
}

.agendar-consulta::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: black;
    transition: width 0.5s ease;
}

.agendar-consulta:hover::before {
    width: 100%;
    /* Largura que a linha se estenderá */
}

.toggle-menu {
    height: 40px;
    width: fit-content;
    font-size: 18px;
    background-color: inherit;
    border: none;
    outline: none !important;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.toggle-menu i {
    font-size: 25px;
    transform: scale(0.9);
}

.toggle-menu:hover {
    color: rgb(196, 171, 33);
}

.logo-2 {
    position: fixed;
    bottom: 35px;
    left: 35px;
    opacity: 0.3;
    border-radius: 50%;
    width: fit-content;
    height: auto;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.logo-2 img {
    width: 60px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
    transition: opacity 0.2s ease;
}

.logodourada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.logo img, .logodourada img {
    width: 300px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    padding: 40px 0px 40px 0px;
    background-color: rgb(223, 214, 207);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease-in-out;
    z-index: 9999;
}

.menu-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.show-menu {
    position: fixed;
    width: 300px;
}

.logo-menu {
    margin: auto;
    width: fit-content;
    margin-bottom: 40px;
}

.menu ul {
    margin: auto;
    width: fit-content;
}

.menu ul li {
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: rgb(196, 171, 33);
}

.active {
    color: rgb(196, 171, 33) !important;
}

.redes-sociais ul {
    opacity: 0;
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.show-menu .redes-sociais ul {
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
    cursor: pointer;
}

.apresentação-principal {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
}

.arrow {
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 10;
}

.arrow:hover svg path {
    fill: rgb(196, 171, 33);
}

#preview {
    left: 40px;
}

#next {
    right: 40px;
}

.overlay-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    transition: opacity 2.5s ease;
}

.slide.viewed {
    opacity: 1;
    z-index: 10;
}

.slide-relative {
    position: relative;
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.slide .overlay-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
}

.slide picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img, .slide picture {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

@keyframes scaleLoop {

    0%,
    100% {
        transform: translateX(-60px) scale(1);
    }

    80% {
        transform: translateX(-60px) scale(1.15);
    }
}

#winicius-hero.scale-loop {
    animation: scaleLoop 16s ease-out infinite;
}

.hero-text-container {
    width: 34%;
    min-width: 350px;
    /* Ajuste a largura conforme necessário */
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    /* Distância da borda direita */
    z-index: 20;
    font-family: 'Poppins', sans-serif;
}

.hero-text-container h1 {
    font-size: 2.5em;
    /* Ajuste o tamanho conforme necessário */
    color: rgb(223, 214, 207);
    margin-bottom: 20px;
}

.hero-text-container p {
    font-size: 1.1em;
    color: rgb(180, 172, 166);
    margin-bottom: 30px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.hero-btn {
    padding: 10px 20px;
    border: 2px solid rgb(40, 40, 40);
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s, color 0.3s;
    outline: none !important;
}

.hero-btn:hover {
    border: 2px solid rgb(223, 214, 207);
    background-color: rgb(223, 214, 207);
    /* Ajuste a cor conforme necessário */
    color: black;
}

.pagination {
    position: absolute;
    text-align: center;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #bbb;
}

.hero-content {
    width: 100%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    z-index: 11;
}

.hero-content h1 {
    color: rgb(206, 194, 184);
    font-size: 2.5em;
    text-align: center;
    text-shadow: 
        0 0 10px rgba(0, 0, 0, 0.9),  /* Primeira sombra: sombra preta difusa e mais transparente */
        0 0 20px rgba(0, 0, 0, 0.8),  /* Segunda sombra: sombra preta mais difusa e mais transparente */
        0 0 30px rgba(0, 0, 0, 0.6),  /* Terceira sombra: sombra preta ainda mais difusa e mais transparente */
        0 0 40px rgba(0, 0, 0, 0.4);
}

.ver-video-box {
    display: flex;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 20;
    margin: 40px auto;
}

.ver-video-box span {
    margin-left: 20px;
}

.play-box {
    background-color: rgb(241, 234, 228);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-box svg {
    height: 20px;
    margin-left: 5px;
}

.apresentação-principal .headline {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.apresentação-principal .line {
    margin: 0;
    font-size: 50px;
    color: rgb(223, 214, 207);
    font-family: 'Cantarell', sans-serif;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.animated-word {
    display: inline-block;
    transform: rotate(4deg) translateY(25px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.tratamentos {
    min-height: 400px;
    padding: 160px 0;
    background-color: black;
    color: rgb(223, 214, 207);
    overflow: hidden;
}

.tratamentos .ver-mais a {
    color: rgb(223, 214, 207);
}

.tratamentos .ver-mais a::before {
    background-color: rgb(223, 214, 207);
}

.tratamento {
    width: 80%;
    min-height: 300px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: #ddd;
    /* Cor de fundo */
    transform: translateY(20px);
    margin: auto;
    margin-bottom: 80px;
    position: relative;
    padding: 30px 50px;
}

.tratamento.fade-in-slide-up.ativo {
    transform: translateY(0);
}

.tratamento .icone {
    margin: 10px auto;
    display: block;
    height: 80px;
    filter: grayscale(1) brightness(1);
}

.tratamento .titulo {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.tratamento .descricao {
    color: #dddddd80;
    text-align: center;
}

.foto-fixa {
    min-width: 100%;
    position: fixed;
    left: 0;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-fixa img {
    height: auto;
    min-width: 100%;
}

.overlay-background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

.espaço {
    height: 500px;
}

.equipe {
    background-color: rgb(223, 214, 207);
    padding: 160px 0px;
}

.equipe .texto {
    margin-right: 40px;
}

.equipe .texto h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

.row-album {
    display: flex;
    transition: transform 0.5s ease;
}

.quadro {
    margin: 0 20px;
    max-width: 300px;
    min-width: 300px;
    position: relative;
    /* For positioning elements inside */
    box-sizing: border-box;
    /* Include padding and borders in width */
}

.box-img-pro {
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.box-img-pro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.box-img-pro img:hover {
    transform: scale(1.05);
}

.arrow {
    position: absolute;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
    user-select: none;
}

.arrow svg {
    fill: #000;
}

.nav-btn-galeria-left {left: -15px;}

.nav-btn-galeria-right {right: -15px;}

.tecnologias {
    background-color: black;
    height: 650px;
}

.fale-conosco {
    padding: 200px 0;
    width: 100%;
    background-color: rgb(241, 234, 228);
    background-image: url('../img/planta.png');
    background-size: cover;
    /* Ajusta a imagem para cobrir toda a div */
    background-position: center;
    /* Centraliza a imagem na div */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    height: 1200px;
}

.fale-conosco input {
    height: 50px;
}

.fale-conosco select {
    height: 50px;
}

.fale-conosco textarea {
    min-height: 250px;
}

.localizacao-img {
    width: 100%;
    min-height: 550px;
    background-color: white;
    overflow: hidden;
}

.localizacao-img img {
    object-fit: cover;
}

.localizacao-img .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: rgb(223, 214, 207);
    text-align: center;
}

.localizacao-img h4 {
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7);
}

.whatsapp {
    position: fixed;
    bottom: 35px;
    right: 30px;
    z-index: 9996;
}

.whatsapp-button {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    box-shadow: 0px 0px 12px rgba(68, 68, 68, 0.5);
    transition: transform 0.3s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    height: 60px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: -220px;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
}

footer {
    display: flex;
    color: rgb(223, 214, 207);
    padding: 140px 0;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(43, 43, 43);
    width: 100%;
}

footer a {
    color: rgb(223, 214, 207);
    text-decoration: none;
    transition: all 0.8s ease;
}

footer a:hover {
    text-decoration: none;
    color: rgb(223, 214, 207);
    opacity: 0.7;
}

footer .redes a {
    margin-right: 15px;
}

footer .redes a i {
    font-size: 18px;
}

footer h4 {
    margin-bottom: 40px;
    font-weight: bold;
}

footer li span {
    margin-left: 15px;
}

footer .links li {
    margin-bottom: 20px;
}

footer .links a {
    font-size: 17px;
}

footer .copyright {
    font-size: 14px;
}

@media (max-width: 1000px) {
    .tratamentos p {
        font-size: 0.8em;
    }
}

@media (max-width: 750px) {
    header {
        height: 100px;
    }
    .header-container {
        margin: 0 20px;
        justify-content: end;
    }
    .toggle-menu {font-size: 14px;}
    .agendar-consulta {display: none;}
    .logo {left: 0; transform: translateY(-50%);}
    .logodourada {left: 0; transform: translateY(-50%);}
    .logo img, .logodourada img {
        width: 150px;
    }
    .hero-text-container {
        width: 36%;
        right: 30px;
    }
    .hero-text-container h1 {
        font-size: 1.4em;
    }
    .hero-text-container p {
        font-size: 0.8em;
    }
    .hero-btn {
        padding: 8px 16px;
        border: 1px solid rgb(40, 40, 40);
        font-size: 0.8em;
    }
    .hero-content h1 {
        font-size: 1.4em;
    }
    .ver-video-box {
        width: 140px;
        height: 40px;
        border-radius: 20px;
        margin: 30px auto;
    }
    .ver-video-box span {
        margin-left: 15px;
        font-size: 13px;
    }
    .play-box {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .play-box svg {
        height: 15px;
        margin-left: 5px;
    }
    .section-title {font-size: 25px;}
    .margin-big {
        margin-bottom: 80px;
    }
    .equipe .texto {
        max-width: 300px;
        margin: 0 auto !important;
    }
    .whatsapp {
        right: 20px;
        bottom: 20px;
    }
    .whatsapp-button {
        width: 45px;
        height: 45px;
    }
    .whatsapp-button img {
        height: 45px;
    }
}

@media (max-width: 500px) {
    .slide .overlay-img {
        transform: translateX(200px);
    }
    .hero-text-container {
        top: 52%;
        right: 20px;
        min-width: 220px;
    }
    .hero-text-container h1 {
        font-size: 1.3em;
    }
    .hero-text-container p {
        font-size: 0.7em;
    }
    @keyframes scaleLoop {

        0%,
        100% {
            transform: translateY(-30px) scale(1);
        }
    
        80% {
            transform: translateY(-30px) scale(1.15);
        }
    }
    .ver-mais {
        right: 40px;
        bottom: -20px;
    }
    .equipe .col-md-7 .container .row {
        transform: scale(0.78);
    }
    .nav-btn-galeria-left {left: 15px;}
    .nav-btn-galeria-right {right: 15px;}
    .localizacao-img h4 {
        font-size: 1.2em;
    }
    .equipe .texto h1 {
        font-size: 2.1em;
    }
    .foto-fixa img {
        height: 70vh;
    }
    .espaço {
        height: 450px;
    }
}

@media (max-width: 400px) {
    .hero-text-container {
        right: 10px;
    }
    .hero-content h1 {
        font-size: 1.3em;
    }
    @keyframes scaleLoop {

        0%,
        100% {
            transform: translate(20px,-30px) scale(1);
        }
    
        80% {
            transform: translate(20px,-30px) scale(1.15);
        }
    }
    .equipe .texto h1 {
        font-size: 1.9em;
    }
}