.foto-fixa img {
    height: 100vh;
    width: auto !important;
}

.overlay-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
}

.overlay-background.darker {
    background-color: rgba(0, 0, 0, 0.8);
}

main {
    padding-top: 100px;
}

section {
    padding-top: 60px;
    height: 600px;
    position: relative;
    z-index: 2;
}

section h1 {
    font-size: 70px;
    margin-bottom: 80px;
}

section img {
    height: 250px;
    margin-left: 60px;
}

.full {
    background-color: rgb(223, 214, 207);
}

.transparente {
    color: rgb(223, 214, 207);
    background-color: transparent;
}

.end {
    display: flex;
    justify-content: end;
}

.bloco {
    height: 480px;
    display: flex;
    align-items: center;
}

section .texto {
    font-size: 22px;
    line-height: 1.6em;
}

.buttons-container {
    margin-top: 40px;
}

.blur-btn {border: 2px solid rgb(131, 131, 131); position: relative;}

.blur-btn i {margin-left: 8px; transform: translateY(1px);}

.pelicula {position: absolute; top: 0; left: 0; width: 100%; height: 100%; filter: blur(5px); background-color: rgba(0, 0, 0, 0.1);}

.blur-btn.op2 {
    color: #000;
}

.blur-btn.op2:hover {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
}

.content {margin-left: 30px;}

.content h1 {font-size: 35px; margin-bottom: 30px; margin-top: -10px; color: #fff;}

.lista-acordeao {
    padding-top: 0;
}

.lista-acordeao .section-title {
    color: rgb(223, 214, 207);
    margin-bottom: 50px;
}

.lista-acordeao .container {
    width: fit-content;
}

.accordion-1 {
    padding: 0;
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
}

.accordion-1 li {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
    width: 100%;
    padding: 15px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    letter-spacing: 0.02em;
}

.accordion-1 li p {
    margin: 0px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark {
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgb(151, 149, 12);
    margin-right: 15px;
}

.accordion-1 .trabalho {
    color: rgb(223, 214, 207);
}

.explicacao {
    color: rgb(140, 140, 140);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.trabalho.ativo .explicacao {
    max-height: 600px;
    animation: fade 1s ease-in-out;
}

.explicacao p {
    margin: 10px 0;
    margin-bottom: 5px;
}

.trabalho.ativo svg {
    transform: rotate(180deg);
}

.accordion-1 svg {
    margin-top: 10px;
    fill: rgb(15, 15, 15);
    transition: transform 1s ease-in;
}

.accordion-1 {
    width: 800px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}